<!--导航条 navbar-fixed-top：固定在顶部。navbar-default：白色的背景黑色的字。navbar-inverse：黑色的背景加白色的字；-->
<!--role="navigation"为了增强可访问性(和浏览器的兼容性)，加上 role="navigation" 属性。方便bootstrap中js处理导航条的显示样式.-->
<nav id="snail-header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        dddddddddddddddddddddd
    </div>
</nav>
